@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>GitHub User with Framework</h2>
        <p>
            Create a C# .NET web app that pulls data from the GitHub API
            about some projects or users that are interesting to you and
            display that information in a browser.
        </p>
        <p><a class="btn btn-default" href="/GitHub/Index">Try It &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RestAPI Page</h2>
        <p>
            Create a pass-through RESTful service to expose a filtered version of the data as JSON.
            The service should take a filter parameter
            and all filtering should be done server side using your code, not using the GitHub API.
        </p>
        <p><a class="btn btn-default" href="/GitHub/Index2">Try It &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Repos</h2>
        <p>
            Uses both a full page post to load a list of repositories for a user, then a partial page update 
            to render the raw JSON response of a pass-through API that filters on a single repository ID.
        </p>
        <p><a class="btn btn-default" href="/User">Try It &raquo;</a></p>
    </div>
</div>
